<div class="wrapper">
    <div class="text-center mt-4 name">
        SignUp
    </div>
    <form class="p-3 mt-3">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="userName" id="userName" placeholder="Username or Email">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" id="pwd" placeholder="Password">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="repassword" name="repassword" id="repwd" placeholder="Re-Enter Password ">
        </div>
        <button class="btn mt-3">Sign up</button>
    </form>
    <div class="text-center fs-6">
        <a href="Login">Login</a>
    </div>
</div>

